.menu-container {
    height: 100vh;
    /* Full viewport height */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    background-color: #f9f9f9;
    /* Optional: for visual clarity */
}

.menu-content {
    font-size: 2rem;
    font-weight: bold;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.search-container {
    margin: 30px auto;
    text-align: center;
}

.search-input {
    padding: 12px 20px;
    width: 70%;
    max-width: 500px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    border-color: #ff6f61;
    box-shadow: 0 4px 12px rgba(255, 111, 97, 0.4);
    background-color: #fffdfa;
}


.filter-icon {
    margin-left: 10px;
    font-size: 28px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s, transform 0.2s;
}

.filter-icon:hover {
    color: #007bff;
    transform: scale(1.1);
}